<!-- <ul class="breadcrumb">
  <li><a href="#" routerLink="/dashboard">Home</a></li>
  <li><a href="#" routerLink="/users">Add User</a></li>
</ul> -->

<!-- <div class="header-container mat-elevation-z1">
  <span class="header-text">
    Add User
  </span>
</div> -->
<div class="header-container mat-elevation-z1">
  <span class="header-text" mat-dialog-title>
    {{data.title}}
  </span>
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-card class="center-card">

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="employee-form">
    <div class="form">
      <div class="form-column-left">
        <!-- Full Name -->
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullname">
          <mat-error *ngIf="employeeForm.get('fullname')!.hasError('required')">Full
            Name is required</mat-error>
          <mat-error *ngIf="employeeForm.get('fullname')!.hasError('minlength')">Fullname Name must be at least 6
            characters</mat-error>
            <mat-error *ngIf="employeeForm.get('fullname')!.hasError('maxlength')">Fullname Name must not exceed 100
              characters</mat-error>
        </mat-form-field>
        <!-- Psuedo Name -->
        <mat-form-field appearance="fill">
          <mat-label>Psuedo Name</mat-label>
          <input matInput formControlName="pseudoname">
          <mat-error *ngIf="employeeForm.get('pseudoname')!.hasError('required')">Psuedo
            Name is required</mat-error>
        </mat-form-field>
        <!-- Official Email -->
        <mat-form-field appearance="fill">
          <mat-label>Official Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="employeeForm.get('email')!.hasError('required')">Email is
            required</mat-error>
          <mat-error *ngIf="employeeForm.get('email')!.hasError('email')">Invalid email
            address</mat-error>
        </mat-form-field>
        <!-- Personal Email -->
        <mat-form-field appearance="fill">
          <mat-label>Personal Email</mat-label>
          <input matInput formControlName="personalemail">
          <mat-error *ngIf="employeeForm.get('personalemail')!.hasError('required')">Email
            is required</mat-error>
          <mat-error *ngIf="employeeForm.get('personalemail')!.hasError('email')">Invalid
            email address</mat-error>
        </mat-form-field>
        <!-- Personal Contact -->
        <mat-form-field appearance="fill">
          <mat-label>Personal Contact Number </mat-label>
          <input matInput formControlName="personalcontactnumber">
          <mat-error
            *ngIf="employeeForm.get('personalcontactnumber')!.hasError('required')">Personal
            Contact
            Number is required</mat-error>
        </mat-form-field>
        <!-- company contact -->
        <mat-form-field appearance="fill">
          <mat-label>Company Contact Number</mat-label>
          <input matInput formControlName="companycontactnumber">
        </mat-form-field>
        <!-- Joining Date -->
        <mat-form-field appearance="fill">
          <mat-label>Joining Data</mat-label>

          <input matInput [matDatepicker]="datepicker"
            formControlName="joiningdate" placeholder="MM/DD/YYYY">

          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>

          </mat-datepicker>
          <mat-error
            *ngIf="employeeForm.controls.joiningdate.hasError('required')">Joining Date Required</mat-error>
        </mat-form-field>
        <!-- Releiving Date -->
        <mat-form-field appearance="fill">
          <mat-label>Releiving Date</mat-label>

          <input matInput [matDatepicker]="datepicker2"
            formControlName="relievingdate">

          <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #datepicker2>
          </mat-datepicker>
          <mat-error
            *ngIf="employeeForm.controls.relievingdate.hasError('relievingdate')">Invalid
            start date</mat-error>
        </mat-form-field>
        <!-- Aadhar -->
        <mat-form-field appearance="fill">
          <mat-label>Aadhar Number</mat-label>
          <input matInput formControlName="aadharno">
          <mat-error *ngIf="employeeForm.get('aadharno')!.hasError('required')">Aadhar Number is required</mat-error>
          <mat-error *ngIf="employeeForm.get('aadharno')!.hasError('pattern')">Aadhar Number must be exactly 12 digits</mat-error>
        </mat-form-field>
        <!-- PAN -->
        <mat-form-field appearance="fill">
          <mat-label>PAN Number</mat-label>
          <input matInput formControlName="panno" placeholder="Ex: ABCDE1234F">
          <mat-error *ngIf="employeeForm.get('panno')!.hasError('required')">PAN Number is required</mat-error>
          <mat-error *ngIf="employeeForm.get('panno')!.hasError('pattern')">Invalid PAN Number</mat-error>
        </mat-form-field>
      </div>

      <div class="form-column-right">
        <!-- BANK -->
        <mat-form-field appearance="fill">
          <mat-label>Bank Name</mat-label>
          <input matInput formControlName="bankname">
          <mat-error *ngIf="employeeForm.get('bankname')!.hasError('required')">Bank Name is required</mat-error>
        </mat-form-field>
        <!-- AC NUMBER -->
        <mat-form-field appearance="fill">
          <mat-label>Account Number</mat-label>
          <input matInput formControlName="accno">
          <mat-error *ngIf="employeeForm.get('accno')!.hasError('required')">Account Number is required</mat-error>
        </mat-form-field>
        <!-- IFSC -->
        <mat-form-field appearance="fill">
          <mat-label>IFSC Code</mat-label>
          <input matInput formControlName="ifsc">
          <mat-error *ngIf="employeeForm.get('ifsc')!.hasError('required')">IFSC Code is required</mat-error>
          <mat-error *ngIf="employeeForm.get('ifsc')!.hasError('pattern')">Invalid IFSC Code</mat-error>
        </mat-form-field>
        <!-- Branch -->
        <mat-form-field appearance="fill">
          <mat-label>Branch Name</mat-label>
          <input matInput formControlName="branchname">
          <mat-error *ngIf="employeeForm.get('branch')!.hasError('required')">Branch Name is required</mat-error>
        </mat-form-field>
        <!-- Designation -->
        <mat-form-field appearance="fill">
          <mat-label>Designation</mat-label>
          <input matInput formControlName="designation">
        </mat-form-field>
        <!--Select Department -->

        <mat-form-field appearance="fill">
          <mat-label>Select Department</mat-label>
          <input matInput formControlName="department"
            [matAutocomplete]="departmentAuto">
          <mat-autocomplete #departmentAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredDepartmentOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('department')!.hasError('required')">Choose
            Deparment</mat-error>
        </mat-form-field>
        <!-- Select Role -->
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredRoleOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('role')!.hasError('required')">Role is
            Required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="employeeForm.get('role')!.value === 'Employee'"
          appearance="fill">
          <mat-label>Select Manager</mat-label>
          <input matInput formControlName="manager" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredManagerOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('manager')!.hasError('required')">Manager
            is Required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="employeeForm.get('role')!.value === 'Employee'"
          appearance="fill">
          <mat-label>Select Team Lead</mat-label>
          <input matInput formControlName="teamlead"
            [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredTeamLeadOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('teamlead')!.hasError('required')">Manager
            is Required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="employeeForm.get('role')!.value === 'Team Lead'"
          appearance="fill">
          <mat-label>Select Manager</mat-label>
          <input matInput formControlName="manager" [matAutocomplete]="roleAuto">
          <mat-autocomplete #roleAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredManagerOptions | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employeeForm.get('manager')!.hasError('required')">Manager
            is Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-button">
      <!-- <div class="form-button-left">
        <div class="form-button-inner">
          <button mat-raised-button  >Back</button>
        </div>
      </div> -->

    </div>
  </form>
  <div class="form-button-right">
    <!-- <div class="form-button-inner"> -->
    <button mat-raised-button color="white" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    <!-- </div> -->
  </div>
</mat-card>
