
<div class="status-dialog-container">



  <div class="header">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <hr>
    <button mat-icon-button (click)="onAction('SAFE_CLOSE')" >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="content" mat-dialog-content>
    <form class="status-form" [formGroup]="statusForm" #myFrom name="status-form" (ngSubmit)="onAction('UPDATE')">
      <mat-label>Reason for {{data.updateText}} {{data.type}}</mat-label>
      <mat-form-field class="status-reason-field">
        <textarea title="" [(ngModel)]="remarks" matInput placeholder="Enter the reason for {{data.updateText}} {{data.type}}" formControlName="reasonForStatusUpdate"></textarea>
        <mat-error  class="error-message" *ngIf="statusForm.controls['reasonForStatusUpdate'].hasError('required')" >Please enter the remarks</mat-error>
      </mat-form-field>
      <div class="actions">
        <button type="submit"  mat-raised-button color="primary">{{data.buttonText}}</button>
      </div>
    </form>

  </div>



  </div>
