.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content{
  height: 80px;
}
.actions{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}
