.toaster-container{
  display: flex;
  align-items: center;

  width: fit-content;

  padding-left: 1rem;

  .toaster-content {
    display: flex;
    align-items: center;
   // justify-content: space-between; not working
   gap: 8.5rem;

   .close-icon{
    cursor: pointer;
   }
  }
}

