.breadcrumb{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  height: 2rem;
  background-color: rgb(228, 231, 234);
  padding-top: 8PX;
  position: sticky;
  z-index: 9999999;
  top: 0;
}
ul.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.table-wrapper{

  overflow: auto;
  padding: 4px;
}
table {
  width: 100%;
}
.mat-mdc-header-row  {
  background-color: rgb(213, 231, 231);
  position: sticky; top: 0;
}
thead {
  position: sticky; top: 0;
}
.mat-sort-header-arrow {
  color: #1a1717;
}
.mat-mdc-row  {
  height: 48px !important;
}
.mat-mdc-column {
  border-right: 1px solid currentColor;
}
.mat-column-position {
  width: 32px;
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}
.mat-column-name {

  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}
.mat-column-weight {

  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}
.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 48px;

  background-color: white;
  position: sticky;
  z-index: 9999999;
  top: 0;
  overflow: hidden;
  margin: 4px;
  background-color: rgb(228, 231, 234);
}
.header-text{
 padding-left: 8px;
 font-weight: 600 ;
}
.add-user{
  cursor: pointer;
}
.emp-actions{
  display: flex;
  align-items: center;

  .search{
    height: 32px;
    padding: 0px 8px;
  }
}
